.charts {
  width: 100%;

  &__card {
    padding: 1rem;
    border: 1px solid #ccc;
    border-bottom: 3px solid var(--color-danger);
  }
}

$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .chart {
    display: none;
  }
}

/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .chart {
    // Add styles for medium screens here
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .chart {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .chart {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .chart {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .chart {
    // Add styles for screens in landscape orientation here
  }
}
