.reset {
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(226, 135, 67, 0.1);
  &__img {
    width: 200px;
    animation: slide-down 0.5s ease;
  }

  &__form-box {
    height: 17rem;
    width: 30rem;
    animation: slide-up 0.5s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 20px;
  }
  &__title {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 45px;
  }
  &__form {
    font-size: 1.6rem;
    outline: none;
  }
  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
  }
  &__placeholder {
    padding: 1rem;
    width: 20rem;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
  }
  &__button-box {
    display: flex;
    justify-content: center;
  }

  &__register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  &__button {
    background-color: rgba(226, 135, 67, 0.3);
    border-radius: 50px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    height: 50px;
    padding: 0 25px;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;

    width: 22rem;
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    }
  }
  &__text-register {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(159, 207, 227, 1);
    padding: 7px;
    border-radius: 5px;
    margin: 15px;

    &:visited {
      color: black;
    }

    &:hover {
      background-color: rgba(226, 135, 67, 0.3);
    }
  }

  @keyframes slide-up {
    0% {
      transform: translateY(-5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide-down {
    0% {
      transform: translateY(5rem);
    }
    100% {
      transform: translateY(0);
    }
  }
}

$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;

/* Extra Small Devices and Short Height Devices */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .reset {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(226, 135, 67, 0.1);
    &__img {
      width: 100px;
      animation: slide-down 0.5s ease;
    }

    &__form-box {
      height: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 17rem;
      padding: 30px;
    }
    &__title {
      text-align: center;
      margin: 10px 0px 10px 0px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 35px;
    }

    &__placeholder {
      padding: 1rem;
      width: 15rem;
      border: 1px solid #c0c0c0;
      border-radius: 10px;
    }

    &__button {
      width: 17rem;
    }
  }
}

/* Small Devices */
@media screen and (max-width: #{$breakpoint-medium}) {
  .reset {
    // Your BEM styles for the .reset block on small devices
  }
}

/* Medium Devices and Medium Height Devices */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-medium-height}) {
  .reset {
    // Your BEM styles for the .reset block on medium and medium height devices
  }
}

/* Large Devices and Tall Height Devices */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .reset {
    // Your BEM styles for the .reset block on large and tall height devices
  }
}

/* Extra Large Devices */
@media screen and (min-width: #{$breakpoint-xlarge + 1}) {
  .reset {
    // Your BEM styles for the .reset block on extra large devices
  }
}
