.item {
  display: flex;
  align-items: center;
  max-width: 1200px;
  border-radius: 29% 71% 18% 82% / 51% 51% 49% 49%;
  background-color: rgba(1, 127, 148, 0.1);
  margin-top: 100px;
  &__link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
  &__img {
    width: 350px;
    height: 350px;
    border-radius: 29% 71% 18% 82% / 51% 51% 49% 49%;
  }
  &__titlePrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    &--title {
      font-size: 25px;
    }
    &--brand {
      margin: 0;
      font-size: 25px;
      color: black;
      font-family: "Raleway", sans-serif;
      background-color: rgb(204, 204, 204, 0.2);
      width: 150px;
      border-radius: 15px;
      text-align: center;
      padding: 5px;
      margin-bottom: 5px;
    }
    &--category {
      margin: 0px 0px 20px 0px;
      font-size: 25px;
      color: black;
      font-family: "Raleway", sans-serif;
      background-color: rgb(204, 204, 204, 0.2);
      width: 170px;
      border-radius: 15px;
      text-align: center;
      padding: 5px;
    }
    &--price {
      margin: 0px 0px 20px 0px;
      font-size: 25px;
      background-color: rgba(226, 135, 65, 0.3);
      width: 80px;
      height: 80px;
      border-radius: 29% 71% 18% 82% / 51% 20% 80% 49%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      margin-top: 15px;
      letter-spacing: 1px;
      font-family: "Imbue", serif;
    }
  }

  &__description {
    font-size: 30px;
    color: rgb(18, 15, 15, 0.7);
    font-family: "Imbue", serif;
  }

  &__button {
    font-family: "Raleway", sans-serif;
    background-color: rgb(204, 204, 204, 0.5);
    border-radius: 50px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 30px;
    height: 55px;
    line-height: 1.15;
    padding: 0 25px;
    position: relative;
    text-align: center;
    width: 15rem;

    &:hover {
      background-color: rgba(226, 135, 65, 0.3);
      box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    }
  }
}
$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;
/* Extra Small Devices and Short Height Devices */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .item {
    flex-direction: column;
    align-items: center;
    width: 350px;
    border-radius: 29% 71% 18% 82% / 51% 51% 49% 49%;
    background-color: rgba(1, 127, 148, 0.1);
    margin-top: 100px;

    &__img {
      width: 150px;
      height: 150px;
    }
    &__titlePrice {
      flex-direction: column;
      align-items: center;
    }
    &__content {
      width: 100%;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__name {
      &--title {
        text-align: center;
        font-size: 15px;
        width: 150px;
      }
      &--brand {
        font-size: 15px;
      }
      &--category {
        font-size: 15px;
      }
      &--price {
        font-size: 15px;
      }
    }

    &__description {
      font-size: 25px;
      width: 200px;
      text-align: center;
    }
    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__button {
      font-family: "Raleway", sans-serif;
      background-color: rgb(204, 204, 204, 0.5);
      border-radius: 50px;
      border-width: 0;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 30px;
      height: 55px;
      line-height: 1.15;
      padding: 0 25px;
      position: relative;
      text-align: center;
      width: 10rem;

      &:hover {
        background-color: rgba(226, 135, 65, 0.3);
        box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
          rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
      }
    }
  }

  /* Small Devices */
  @media screen and (max-width: #{$breakpoint-medium}) {
    .item {
      // Your BEM styles for the .item block on small devices
    }
  }

  /* Medium Devices and Medium Height Devices */
  @media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-medium-height}) {
    .item {
      // Your BEM styles for the .item block on medium and medium height devices
    }
  }

  /* Large Devices and Tall Height Devices */
  @media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
    .item {
      // Your BEM styles for the .item block on large and tall height devices
    }
  }

  /* Extra Large Devices */
  @media screen and (min-width: #{$breakpoint-xlarge + 1}) {
    .item {
      // Your BEM styles for the .item block on extra large devices
    }
  }
}
