.orders-details {
  margin-left: 50px;
  min-height: 90vh;
  &__table {
    max-width: 1000px;
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    margin-top: 80px;
    font-family: "Josefin Sans", sans-serif;
  }

  &__back-link {
    margin-top: 80px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
    background-color: rgb(226, 135, 67, 0.5);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;

    &:visited {
      color: black;
    }
  }

  &__container-details {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    &--status {
      flex-direction: column;
    }
  }
  &__container-status {
    display: flex;
    flex-direction: row;
  }
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  &__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    color: rgb(159, 207, 227, 1);
    &--status {
      margin-bottom: 10px;
      font-style: italic;
    }
  }
  &__bold {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
  }
  &__thead {
    border: 1px solid black;
    background-color: rgb(159, 207, 227, 0.2);
  }

  &__th {
    vertical-align: top;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  &__td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }

  &__tr {
    border: 1px solid black;
  }
}
// Width breakpoints
$breakpoint-small: 420px;
$breakpoint-medium: 820px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Height breakpoints
$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-medium-height-2: 1180px;
$breakpoint-tall: 1200px;
/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height-2}) {
  .orders-details {
    margin-right: 50px;
    &__text {
      color: black;
      font-size: 20px;
    }
    &__bold {
      font-family: "Josefin Sans", sans-serif;
      font-size: 20px;
    }
    &__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin-top: 50px;
    }

    &__thead {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 65, 0.3);
      }

      &--index {
        background-color: rgb(226, 135, 65, 0.3);
      }
    }

    &__th {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
    }
    &__td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;

      &--index {
        background-color: rgb(226, 135, 65, 0.5);
      }
    }

    &__title {
      text-align: center;
    }

    &__back-link {
      margin-top: 40px;
      background-color: rgb(226, 135, 67, 0.5);
      font-size: 15px;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
    }
    &__link {
      text-decoration: none;
      list-style-type: none;
      cursor: pointer;

      &:visited {
        color: black;
      }
    }
  }
}

/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .orders-details {
    margin-left: 0px;
    margin-right: 0px;
    &__text {
      color: black;
      font-size: 10px;
    }
    &__bold {
      font-family: "Josefin Sans", sans-serif;
      font-size: 10px;
    }
    &__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin-top: 50px;
    }

    &__thead {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 65, 0.3);
      }

      &--index {
        background-color: rgb(226, 135, 65, 0.3);
      }
    }

    &__th {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
    }
    &__td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;

      &--index {
        background-color: rgb(226, 135, 65, 0.5);
      }
    }

    &__title {
      text-align: center;
    }

    &__back-link {
      margin-top: 40px;
      background-color: rgb(226, 135, 67, 0.5);
      font-size: 15px;
      padding: 10px;
      border-radius: 15px;
      text-align: center;
    }
    &__link {
      text-decoration: none;
      list-style-type: none;
      cursor: pointer;

      &:visited {
        color: black;
      }
    }

    &__container-details {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      &--status {
        flex-direction: column;
      }
    }
    &__container-status {
      display: flex;
      flex-direction: row;
    }
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .orders {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for screens in landscape orientation here
  }
}
