.orders {
  padding: 5px;
  width: 70%;
  min-height: 50vh;
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  &__description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-style: italic
  }
  &__bold {
    font-size: 20px;
    color: rgb(226, 135, 67, 0.8);
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
  }
  &__thead {
    font-family: "Josefin Sans", sans-serif;
  }

  &__th {
    border: 1px solid black;
    vertical-align: top;
    text-align: left;
    padding: 8px;
    background-color: white;
    font-size: 15px;
  }

  &__td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    border: 1px solid black;
  }

  &__tr {
    border: 1px solid black;

    &--bis {
      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 67, 0.5);
      }
    }
  }
}
