.orders-details {
  margin-left: 50px;
  &__table {
    max-width: 1000px;
    border-collapse: collapse;
    width: 100%;
    font-size: 1rem;
    margin-top: 80px;
    font-family: "Josefin Sans", sans-serif;
  }

  &__back-link {
    margin-top: 80px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
  }
  &__link {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
    color: rgb(226, 135, 67, 1);
    &:visited {
      color: rgb(226, 135, 67, 1);
    }
  }

  &__container-details {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    &--status {
      flex-direction: column;
    
    }
  }
  &__container-status {
    display: flex;
    flex-direction: row;
  
  }
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  &__text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
    margin: 0px 0px 0px 10px;
    color: rgb(159, 207, 227, 1);
    &--status{
      margin-bottom: 10px;
      font-style: italic
    }
  }
  &__bold {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
  }
  &__thead {
    border: 1px solid black;
    background-color: rgb(159, 207, 227, 0.2);
  }

  &__th {
    vertical-align: top;
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }
  &__td {
    text-align: center;
    padding: 8px;
    border: 1px solid black;
  }

  &__tr {
    border: 1px solid black;
  }
}
