.orders {
  padding: 5px;
  width: 70%;
  min-height: 50vh;
  &__title {
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
  }
  &__description {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
    font-style: italic;
  }
  &__bold {
    font-size: 20px;
    color: rgb(226, 135, 67, 0.8);
  }
  &__table {
    border-collapse: collapse;
    width: 100%;
    font-size: 1.4rem;
  }
  &__thead {
    font-family: "Josefin Sans", sans-serif;
  }

  &__th {
    border: 1px solid black;
    vertical-align: top;
    text-align: left;
    padding: 8px;
    background-color: white;
    font-size: 15px;
  }

  &__td {
    vertical-align: top;
    text-align: left;
    padding: 8px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 10px;
    border: 1px solid black;
  }

  &__tr {
    border: 1px solid black;

    &--bis {
      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 67, 0.5);
      }
    }
  }
}

$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .orders {
    padding: 0px;
    width: 100%;
    &__text {
      color: black;
      font-size: 15px;
    }
    &__bold {
      font-family: "Josefin Sans", sans-serif;
      font-size: 15px;
    }
    &__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin-top: 50px;
    }

    &__thead {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 65, 0.3);
      }

      &--index {
        background-color: rgb(226, 135, 65, 0.3);
      }
    }

    &__th {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
    }
    &__td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;

      &--index {
        background-color: rgb(226, 135, 65, 0.5);
      }
    }

    &__title {
      text-align: center;
    }
  }
}

/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .orders {
    // Add styles for medium screens here
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .orders {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .orders {
    // Add styles for screens in landscape orientation here
  }
}
