.product-list {
  font-family: "Josefin Sans", sans-serif;

  &__top {
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100px;
    margin-top: 100px;
  }
  &__product-item {
    margin-bottom: 100px;
  }
  &__label {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 5px;
  }

  &__select {
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(159, 207, 227, 0.5);
    border-radius: 15px;
    outline: none;
    font-family: "Josefin Sans", sans-serif;
    padding: 8px;
    width: 200px;
  }
}
// Width breakpoints
$breakpoint-small: 420px;
$breakpoint-medium: 820px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Height breakpoints
$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-medium-height-2: 1180px;
$breakpoint-tall: 1200px;
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-medium-height-2}) {
  .product-list {
    margin-bottom: 100px;
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      border-bottom: none;
    }

    &__label {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0 5px;
    }

    &__select {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &__product-item {
      margin-bottom: 100px;
    }
    &__item {
      display: flex;
      justify-content: center;
    }
  }
}
/* Medium Devices and Medium Height Devices */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height-2}) {
  .product-list {
    margin-bottom: 100px;
    &__top {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      border-bottom: none;
    }

    &__label {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0 5px;
    }

    &__select {
      margin-top: 50px;
      margin-bottom: 50px;
    }
    &__product-item {
      margin-bottom: 100px;
    }
    &__item {
      display: flex;
      justify-content: center;
    }
  }
}
/* Extra Small Devices and Short Height Devices */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .product-list {
    &__top {
      display: none;
    }

    &__label {
      font-size: 1.4rem;
      font-weight: 500;
      margin: 0 5px;
    }

    &__select {
      font-size: 1rem;
      border: none;
      border-bottom: 1px solid rgb(159, 207, 227, 0.5);
      border-radius: 15px;
      outline: none;
      font-family: "Josefin Sans", sans-serif;
      padding: 8px;
      width: 200px;
    }

    &__item {
      display: flex;
      justify-content: center;
    }
  }
}

/* Large Devices and Tall Height Devices */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .product-list {
    // Your BEM styles for the .product-list block on large and tall height devices
  }
}

/* Extra Large Devices */
@media screen and (min-width: #{$breakpoint-xlarge + 1}) {
  .product-list {
    // Your BEM styles for the .product-list block on extra large devices
  }
}
