.info {
  width: 100%;
  max-width: 15rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  &__title {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: rgb(226, 135, 67, 0.8);
  }
  &__card {
    border: 1px solid #ccc;
    border-bottom: 3px solid rgb(159, 207, 227, 1);
    padding: 5px;
    background-color: #f5f6fa;
    border-radius: 20px;
  }

  &__span {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__count {
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}
$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .info {
    &__title {
      font-size: 15px;
      text-align: center;
    }
    &__card {

      width: 80px;
    }

    &__span {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
    &__count {
      font-size: 15px;
      font-family: "Josefin Sans", sans-serif;
    }
    &__icon {
      width: 40px;
      height: 40px;
    }
  }
}

/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .info {
    // Add styles for medium screens here
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .info {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .info {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .info {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .info {
    // Add styles for screens in landscape orientation here
  }
}
