.view {
  padding-left: 5px;
  overflow-x: auto;
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(226, 135, 67, 0.1);
  display: flex;
  justify-content: center;
  min-height: 90vh;
  &__title {
    font-size: 30px;
    margin: 50px 50px 50px 50px;
  }
  &__table {
    border-collapse: collapse;
    font-size: 1rem;
    margin: 50px 50px 50px 50px;
  }

  &__thead {
    border: 1px solid black;
  }

  &__th {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: rgb(159, 207, 227, 0.5);
  }

  &__td {
    padding: 15px;
    border: 1px solid black;
    text-align: center;
    &--icon {
      padding: 0;
    }
  }
  &__container-icon {
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: none;
  }
  &__img {
    width: 150px;
    height: 100px;
    border-radius: 10px;
  }
  &__icon {
    width: 20px;
    margin: 10px;
    background-color: rgb(159, 207, 227, 0.5);
    padding: 15px;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
      box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    }
  }
  &__tr {
    border: 1px solid black;
  }
}
// Width breakpoints
$breakpoint-small: 420px;
$breakpoint-medium: 820px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Height breakpoints
$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-medium-height-2: 1180px;
$breakpoint-tall: 1200px;

/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height-2}) {
  .view {
    padding-left: 0px;
    &__table {
      font-size: 10px;
      margin-top: 50px;
    }
  }
}
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .view {
    padding: 0px;
    width: 100%;
    &__title {
      text-align: center;
    }

    &__img {
      width: 250px;
      height: 150px;
    }
    &__table {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 15px;
      margin-top: 50px;
    }

    &__thead {
      display: none;
    }

    &__tr {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      cursor: pointer;
      &:hover {
        background-color: rgb(226, 135, 65, 0.3);
      }

      &--index {
        background-color: rgb(226, 135, 65, 0.3);
      }
    }

    &__th {
      text-align: center;
      padding: 5px;
      border: 1px solid black;
    }
    &__td {
      text-align: center;
      padding: 5px;
      border: 1px solid black;

      &--index {
        background-color: rgb(226, 135, 65, 0.5);
      }
    }

    &__container-icon {
      justify-content: center;
    }
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .view {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .view {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .view {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .view {
    // Add styles for screens in landscape orientation here
  }
}
