.success {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
  background-color: rgb(159, 207, 227, 0.2);
  &__title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
  }
  &__button {
    font-family: "Raleway", sans-serif;
    background-color: rgb(204, 204, 204, 0.5);
    border-radius: 50px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 30px;
    height: 55px;
    line-height: 1.15;
    padding: 0 25px;
    position: relative;
    text-align: center;
    width: 20rem;
    margin: 50px 0px 50px 0px;

    &:hover {
      background-color: rgba(226, 135, 65, 0.3);
      box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
        rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    }
  }
}
$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;

  /* Medium screen (tablets) */
  @media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
    .success {
      margin: 0px;

      &__title {
        font-size: 25px;
      }
      &__button {
        font-size: 20px;
        width: 15rem;
      }
    }    
  }
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .success {
    margin: 0px;

    &__title {
      font-size: 25px;
    }
    &__button {
      font-size: 20px;
      width: 15rem;
    }
  }



  /* Large screen (laptops/desktops) */
  @media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
    .success {
      // Add styles for large screens here
    }
  }

  /* Extra-large screen (large desktops) */
  @media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
    .success {
      // Add styles for extra-large screens here
    }
  }

  /* Portrait orientation (common for smartphones and some tablets) */
  @media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
    .success {
      // Add styles for screens in portrait orientation here
    }
  }

  /* Landscape orientation (common for tablets and some laptops/desktops) */
  @media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
    .success {
      // Add styles for screens in landscape orientation here
    }
  }
}
