@import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");

.header {
  height: 4rem;
  padding: 10px;
  display: flex;
  align-items: center;

  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }
  &__list-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
  }
  &__title-box {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    &:visited {
      color: black;
    }
  }
  &__bubbles {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    animation: rotate-in-down-left 4s ease;

    @keyframes rotate-in-down-left {
      0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0;
      }
      100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
      }
    }
  }
  &__title {
    font-size: 25px;
    font-family: "Phudu", cursive;
  }
  &__nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__ulist {
    display: flex;
    flex-direction: row;
  }
  &__item {
    list-style-type: none;
    font-family: "Josefin Sans", sans-serif;
    padding: 10px;
  }

  &__links {
    text-decoration: none;

    &:visited {
      color: black;
    }

    &.active {
      text-decoration: underline;
      text-underline-offset: 8px;
      text-decoration-color: #9fcfe3;
      text-decoration-thickness: 1px;
    }
  }

  &__logout {
    text-decoration: none;
    font-size: 20px;
    &:visited {
      color: black;
    }
    &:hover {
      color: red;
    }
  }
  &__userName {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    font-size: 15px;
    color: #9fcfe3;
  }

  &__user-container {
    display: flex;
    flex-direction: row;
  }
  &__cart {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  &__login-logo {
    width: 30px;
    height: 30px;
  }
  &__cart-logo {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  &__text {
    font-size: 18px;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
  }

  &__span-admin {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(159, 207, 227, 0.3);
    border-radius: 10px;
  }

  // Width breakpoints
  $breakpoint-small: 450px;
  $breakpoint-medium: 820px;
  $breakpoint-large: 1200px;
  $breakpoint-xlarge: 1500px;

  // Height breakpoints
  $breakpoint-short: 600px;
  $breakpoint-medium-height: 920px;
  $breakpoint-medium-height-2: 1180px;
  $breakpoint-tall: 1400px;

  /* Extra-large screen (large desktops) */
  @media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
    .header {
      // Add styles for extra-large screens here
    }
  }

 
  /* Portrait orientation (common for smartphones and some tablets) */
  @media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
    .header {
      // Add styles for screens in portrait orientation here
    }
  }
  /* Medium screen (tablets) */
  @media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height-2}) {
    .header {
      &__title-box {
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        &:visited {
          color: black;
        }
      }
      &__bubbles {
        margin-left: 5px;
      }
      &__title {
        font-size: 25px;
      }

      &__list-container {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: 50px;
        margin-right: 50px;
        justify-content: space-evenly;
      }

      &__item {
        list-style-type: none;
        font-family: "Josefin Sans", sans-serif;
        padding: 0;
        margin-right: 10px;
      }

      &__links {
        &:hover {
          border-bottom: 1px solid black;
        }
      }

      &__userName {
        display: none;
      }

      &__login-logo {
        width: 30px;
        height: 30px;
      }
      &__cart-logo {
        width: 30px;
        height: 30px;
        margin: 0;
      }
      &__text {
        font-size: 15px;
        padding: 0px;
        font-family: "Josefin Sans", sans-serif;
      }
    }
  }

  /* Small screen (smartphones) */
  @media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
    .header {
      &__title-box {
        display: flex;
        justify-content: center;
        text-decoration: none;
        align-items: center;
        &:visited {
          color: black;
        }
      }
      &__bubbles {
        margin-right: 15px;
      }
      &__title {
        font-size: 17px;
      }

      &__list-container {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: 0px;
       
        justify-content: space-evenly;
      }

      &__item {
        
        list-style-type: none;
        font-family: "Josefin Sans", sans-serif;
        padding: 0;
        margin-right: 10px;
      }

      &__links {
        &:hover {
          border-bottom: 1px solid black;
        }
      }

      &__userName {
        display: none;
      }

      &__login-logo {
        width: 15px;
        height: 15px;
      }
      &__cart-logo {
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 10px;
      }
      &__text {
        font-size: 15px;
        padding: 0px;
        font-family: "Josefin Sans", sans-serif;
      }
    }
  }



  /* Landscape orientation (common for tablets and some laptops/desktops) */
  @media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
    .header {
      // Add styles for screens in landscape orientation here
    }
  }
}
