@import url("https://fonts.googleapis.com/css2?family=Phudu&display=swap");

.header {
  height: 3rem;
  padding: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  &__title-box {
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    &:visited {
      color: black;
    }
  }
  &__bubbles {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    animation: rotate-in-down-left 4s ease;

    @keyframes rotate-in-down-left {
      0% {
        transform-origin: left bottom;
        transform: rotate(-90deg);
        opacity: 0;
      }
      100% {
        transform-origin: left bottom;
        transform: rotate(0);
        opacity: 1;
      }
    }
  }
  &__title {
    font-size: 25px;
    font-family: "Phudu", cursive;
  }
  &__nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__ulist {
    display: flex;
    flex-direction: row;
  }
  &__item {
    list-style-type: none;
    font-family: "Josefin Sans", sans-serif;

    padding: 20px;
  }

  &__links {
    text-decoration: none;

    &:visited {
      color: black;
    }

    &.active {
      text-decoration: underline;
      text-underline-offset: 8px;
      text-decoration-color: #9fcfe3;
      text-decoration-thickness: 1px;
    }
  }

  &__logout {
    text-decoration: none;
    font-size: 20px;
    &:visited {
      color: black;
    }
    &:hover {
      color: red;
    }
  }
  &__userName {
    font-family: "Josefin Sans", sans-serif;
    text-decoration: none;
    font-size: 10px;
    color: #9fcfe3;
  }

  &__user-container {
    display: flex;
    flex-direction: row;
  }
  &__cart { 
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link-cart {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }
  &__login-logo {
    width: 30px;
    height: 30px;
  }
  &__cart-logo {
    width: 30px;
    height: 30px;
    padding: 20px;
  }
  &__text {
    font-size: 15px;
    padding: 10px;
    font-family: "Josefin Sans", sans-serif;
  }

  &__span-admin {
    font-size: 12px;
    padding: 10px;
    background-color: rgb(159, 207, 227, 0.3);
    border-radius: 10px;
  }

  @media (max-width: 1000px) {
    .header {
      flex-direction: column;
    }
    .header__links.hide-text {
      text-indent: -9999px;
    }

    .header__links.hide-text img {
      display: block;
    }
  }
}
