.admin {
  display: flex;

  &__navbar {
    width: 25%;
  }
  &__content {
    width: 100%;
    padding-left: 1rem;
  }
}
$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

$breakpoint-short: 600px;
$breakpoint-medium-height: 920px;
$breakpoint-tall: 1200px;
/* Small screen (smartphones) */
@media screen and (max-width: #{$breakpoint-small}) and (max-height: #{$breakpoint-medium-height}) {
  .admin {
    display: block;

    &__navbar {
      width: 100%;
      height: 100%;
    }
    &__content {
      padding-left: 0rem;
    }
  }
}

/* Medium screen (tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .admin {
  }
}

/* Large screen (laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .admin {
    // Add styles for large screens here
  }
}

/* Extra-large screen (large desktops) */
@media screen and (max-width: #{$breakpoint-xlarge}) and (max-height: #{$breakpoint-tall}) {
  .admin {
    // Add styles for extra-large screens here
  }
}

/* Portrait orientation (common for smartphones and some tablets) */
@media screen and (max-width: #{$breakpoint-medium}) and (max-height: #{$breakpoint-medium-height}) {
  .admin {
    // Add styles for screens in portrait orientation here
  }
}

/* Landscape orientation (common for tablets and some laptops/desktops) */
@media screen and (max-width: #{$breakpoint-large}) and (max-height: #{$breakpoint-tall}) {
  .admin {
    // Add styles for screens in landscape orientation here
  }
}
